<section class="section">
  <div class="container">
    <h1 class="title">Skype export tool</h1>
    <app-stepper [status]="exportService.status()"></app-stepper>

    @switch (exportService.status()) {
    @case (ExportState.MESSAGES_FILE_UPLOAD) {
    <app-message-upload (fileSelected)="exportService.load_file($event)"></app-message-upload>
    }
    @case (ExportState.MESSAGES_FILE_LOADING) {
    <app-loading></app-loading>
    }
    @case (ExportState.CONVERSATION_CHOICE) {
    <app-export-config
      [conversations]="exportService.conversationInfo()"
      (export_requested)="exportService.doExport($event)">
    </app-export-config>
    }
    @case (ExportState.EXPORT_ONGOING) {
    <app-loading></app-loading>
    }
    @case (ExportState.EXPORT_SUCCESS) {
    <app-export-success
      [exportFile]="exportService.exportDataFile()"
      (exportAnother)="exportService.exportAnother()">
    </app-export-success>
    }
    @case (ExportState.ERROR) {
    <app-error></app-error>
    }
    }
  </div>
</section>
